.wrapper {
  width: 100%;
  position: relative;
  margin: .25rem 0;
}

.progress-bar {
  position: relative;
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 10px;
  background-color: #659cef;
  border-radius: 10px;
  transition: width 500ms ease-in-out;
}

.progress-text {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: .75rem;
  font-weight: bold;
}

.progress-chest {
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: -1rem;
  top: -0.8rem;
}

.card {
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  border-radius: .4rem;
  color: #4a4a4a;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
}

.card-username {
  flex: 1 1 auto;
  color: #878190;
  font-weight: bold;
}

.card-detail {
  color: #9b4dca;
  margin-right: 1rem;
}

.card-total-count {
  text-align: right;
}

.card-title-wrap {
  display: flex;
  justify-content: space-between;
  font-size: .5rem;
}

.card-rewards-text {
  color: #E83E8C;
  background-color: white;
}